.navbar .btn {
    cursor: pointer;
    background-color: transparent;
    border:none;
    border-radius: 16px;
  }
  
  .navbar .btn:hover {
    background-color: #FFD337;
    color:white;
    transform: scale(1.05);
  }

  .bell-container .bell-badge{
    border:none;
    background-color: transparent;
  }

  .bell-container:hover .bell-badge{
    color:white;
  }

  .bell-container:hover svg {
    color: white;
  }